	.body {
		background-image: url('../../images/FCPC_LOGO-TRANSPARENT.png');
                                  background-size: 100%;
                                  background-repeat: no-repeat;
                                  background-position: center;
                                  padding-right: 10px;
                                  margin-right: 10px;
	}